//- Messages mixin

mixin make_message(body, footer, name=null, path=null)
  - var classes = name ? 'message p-4 shadow-sm bg-light' : 'message p-4 bg-primary';
  - var borderClr = name ? 'border-top border-gray' : 'border-top border-gray';
  .d-flex.chat-mobile-message
    if path
      img.chat-mobile-avatar.me-3.align-self-end.d-md-block.d-none(src=path, alt='profile icon')
    .rounded-4.w-fit-content.chat-mobile-message-container.d-flex.flex-column(class=classes)
      if name
        .message-header
          span.fw-bold= name
      .message-body
        - var bodyclr = name ? 'text-secondary' : 'text-light';
        p.mx-0.mb-0.mt-1(class=bodyclr)= body
      .message-footer.me-3.mt-2(class=borderClr)
        - var footclr = name ? 'text-secondary' : 'text-gray';
        span.small(class=footclr)= footer
